.border-bottom {
	border: none;
}

.c-success {
	background-color: #4a8407;
	color: white;
}


.form-control-login {
	border: none;
	border-bottom: 1px solid black;
	width: 87%;
}

.form-control-d {
	border: none;
	border-bottom: 1px solid #ddd;
	width: 100%;
}

.label-login {
	font-size: 14px;
	color: #0482e3;
}

.label-login-head {
	font-weight: ;
}

.login-page {

	background-image: url("../../image/asset/BG blure dark.jpg");
	background-size: cover;
}

.no-border {
	border: none;
	border-bottom: 1px solid;
}


.no-padding {
	margin:0px !important;
	padding: 0px !important;
}

.pull-right {
	float: right !important;
	margin-left: 5px;
}

.top-7 {
	margin-top: 7px;
}

.w100 {
	width: 100%;
}

.w-100 {
	width: 100px !important;
}

.w-800 {
	width: 800px;
}
